<div class="container mt-3">
    <button class="btn btn-primary mt-2" onclick="fetchProducts()">Refresh Products</button>
    <h3 class="mt-4">Fitness1 Products</h3>
    <div style="overflow-x: auto; overflow-y: auto; max-height: 300px;">
      <table class="table table-bordered" id="fitness1Table">
        <thead class="table-light">
          <tr>
            <th>Brand Name</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Barcode</th>
            <th>Regular Price</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <h3 class="mt-4">EMAG Products</h3>
    <div style="overflow-x: auto; overflow-y: auto; max-height: 300px;">
      <table class="table table-bordered" id="emagTable">
        <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Sale Price</th>
            <th>Part Number</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
</div>